<template>
  <div v-if="!editing && !creating" class="grid grid-cols-12 gap-4 bg-white p-4 rounded-lg">
    <div class="col-span-4 py-1">{{ meeting.date }}</div>
    <div class="md:col-span-4 col-span-8 py-1">{{meeting.title}}</div>
    <div class="py-1 col-span-4 md:col-span-2">{{meeting.present}}</div>
    <div class="md:hidden col-span-4"></div>
    <VButton @VClick="editInit" class="col-span-4 md:col-span-2">Edytuj</VButton>
    <div class="col-span-12 text-right">@{{meeting.user}}</div>
  </div>
  <div class="grid grid-cols-9 gap-4 p-4 rounded-lg bg-white" v-else>
    <VDateInput ref="date" label="Data" class="block order-1 md:col-span-1 col-span-6 mt-6" :initialValue="date"/>
    <VTextInput ref="title" label="Temat zajęć" class="block md:order-2 md:col-span-8 order-3 col-span-9" :initialValue="title"/>
    <VTextInput ref="present" label="Obecni" class="block order-2 col-span-3" :initialValue="present"/>
    <VButton v-if="creating" class="block mt-6 md:col-span-2 col-span-3 order-4" destructing @VClick="$emit('resigned')">Zamknij</VButton>
    <VButton v-else class="block mt-6 md:col-span-2 col-span-3 order-4" destructing @VClick="editing=false">Zamknij</VButton>
    <VButton v-if="!creating" class="block mt-6 md:col-span-2 col-span-3 order-5" destructing @VClick="del">Usuń</VButton>
    <div v-else class="md:col-span-2 col-span-3 order-5"></div>
    <VButton class="block mt-6 md:col-span-2 col-span-3 order-6" @click="this.saveFunc">Zapisz</VButton>
  </div>
</template>

<script>
import VButton from "@/components/VButton.vue"
import VTextInput from "@/components/VTextInput.vue"
import VDateInput from "@/components/VDateInput.vue"
export default {
  name: "Editor",
  components: {
    VButton,
    VTextInput,
    VDateInput
  },
  props: {
    creating: Boolean,
    meeting: Object
  },
  data() {
    return {
      editing: false,
      saveFunc: Function,
      current: Number,
      date: "",
      title: "",
      present: ""

    }
  },
  emits: ["resigned"],
  methods: {
    editInit: function() {
      if(!this.creating) {
        this.editing = true
        this.date = this.meeting.date;
        this.title = this.meeting.title;
        this.present = this.meeting.present;
      }
    },
    del: function() {
      this.$fetch(this.$apiUrl + "restapi/meetings/" + this.current, {
        method: "DELETE",
      }).then((data) => {
        if(data.success) {
          this.editing=false
          this.$emit('removed');
        }
      })
    },
    newMeet: function () {
      var date = this.$refs["date"].value
      var title = this.$refs["title"].value
      var present = this.$refs["present"].value
      var send_data = {
          "date": date,
          "title": title,
          "present": present
        }
      this.$fetch(this.$apiUrl + "restapi/meetings/", {
        method: "POST",
        body: JSON.stringify(send_data)
      }).then((data) => {
        if(data.success !== false) {
          this.editing = false;
          send_data.id = data.id;
          send_data.user = data.user
          this.$emit("created", send_data);
        }
        else
          alert(data.message);
      })
    },
    edit: function () {
      var date = this.$refs["date"].value
      var title = this.$refs["title"].value
      var present = this.$refs["present"].value
      this.$fetch(this.$apiUrl + "restapi/meetings/" + this.current, {
        method: "PUT",
        body: JSON.stringify({
          "date": date,
          "title": title,
          "present": present
        })
      }).then((data) => {
        if(data.success) {
          this.editing=false
          this.$emit("update:meeting", data.results);
        }
        else
          alert(data.message)
      })
    }
  },
  mounted() {
    if(!this.creating)
      this.current = this.meeting.id
    this.saveFunc = this.creating ? this.newMeet : this.edit;
  },
}
</script>
