<template>
  <button
    v-if="!submit"
    class="display-block max-w-48 h-8 rounded border-2 text"
    :class="destructing ? 'bg-red-600 border-red-600 hover:bg-red-700' : 'bg-yellow-400 border-yellow-400 hover:bg-yellow-600'"
    @click="$emit('VClick')"
  >
    <slot></slot>
  </button>
  <input
    v-else
    type="submit"
    :value="value"
    class="display-block max-w-48 p-1 rounded border-2"
    :class="destructing ? 'bg-red-600 border-red-600 hover:bg-red-700' : 'bg-yellow-400 border-yellow-400 hover:bg-yellow-600'"
    @click="$emit('VClick')"
  />
</template>

<script>
export default {
  name: 'VButton',
  data() {
    return {
      recived: Array(),
      current: null,
      editing: false,
      next: null,
      prev: null,
      count: 0
    }
  },
  emits: ['VClick'],
  props: {
    submit: Boolean,
    value: String,
    destructing: Boolean
  },
}
</script>
