<template>
  <span class="relative inline-block w-min">
    <span  class="absolute top-1 text-4xl">&#128197;</span>
    <input @input="dateChanged" ref="date" class="w-9 h-10 opacity-0" type="date"/>
  </span>
</template>

<script>
export default {
  name: "VDateInput",
  props: {
    initialValue: String
  },
  data() {
    return {
      value: String
    }
  },
  methods: {
    dateChanged: function() {
      this.value = this.$refs.date.value;
    }
  },
  mounted: function() {
    if(this.initialValue !== "")
      this.$refs.date.value = this.initialValue
  }
}
</script>
