<template>
  <span class="relative inline-block">
    <label :for="labelid" class="absolute left-1">{{ label }}</label>
    <input
      :id="labelid"
      :type="password ? 'password' : 'text'"
      class="border-green-500 border-2 p-1 rounded mt-6 block w-full"
      v-model="value"
    />
  </span>
</template>

<script>
export default {
  name: 'VTextInput',
  props: {
    password: Boolean,
    label: String,
    labelid: String,
    initialValue: String
  },
  data: () => {
    return {
      value: ""
    }
  },
  mounted() {
    this.value = this.initialValue;
  }
}
</script>
