<template>
  <form @submit.prevent="login()" class="lg:w-auto max-w-screen-md md:w-1/2 w-2/3 mx-auto text-center rounded-lg bg-white p-12 mt-12">
    <h1 class="font-bold text-lg">Zaloguj się</h1>
    <VTextInput class="mx-4" label="Nazwa użytkownika" labelid="username" ref="username"/>
    <VTextInput class="mx-4" password label="Hasło" labelid="password" ref = "password"/><br/>
    <VButton submit class="mt-4 mx-4" value="Zaloguj się"/>
  </form>
</template>

<script>
// @ is an alias to /src
import VButton from '@/components/VButton.vue'
import VTextInput from '@/components/VTextInput.vue'
export default {
  name: 'Home',
  components: {
    VButton,
    VTextInput,
  },
  methods: {
    login: function () {
      this.$fetch(this.$apiUrl + "authentication/login/", {
        method: "POST",
        body: JSON.stringify({
          "username": this.$refs.username.value,
          "password": this.$refs.password.value
        })
      }).then((data) => {
        if(data.success) {
          this.$store.commit("LOGIN_TOGGLE");
          this.$router.push('/user');
        }
        else
          alert(data.message);
      });
    }
  }
}
</script>
