<template>
  <div class="container space-y-4 mx-auto 2xl:w-1/2 w-3/4 mt-4">
    <VButton destructing class="sm:float-right sm:ml-4 w-48 sm:my-4 mx-auto block" @click="logout">Wyloguj się</VButton>
    <VButton class="sm:float-right w-48 sm:my-4 mx-auto block" @VClick="editing = true">Nowe spotkanie</VButton>
    <Editor class="w-full"
     v-if="editing"
     creating
     @resigned="editing=false"
     @created="handleNewMeet"
   />
    <Editor
      class="w-full"
      :key = "id"
      v-model:meeting="recived[id]"
      v-for="(meeting, id) in recived"
      @removed="recived.splice(id, 1)"
    />
    <div class="text-center space-x-4">
      <VButton v-if="prev" class="text-2xl w-5" @VClick="getMeetings(prev)">&#171;</VButton>
      <VButton v-if="next" class="text-2xl w-5" @VClick="getMeetings(next)">&#187;</VButton>
    </div>
  </div>
</template>

<script>
import VButton from "@/components/VButton.vue"
import Editor from "@/components/Editor.vue"
export default {
  name: 'User',
  components: {
    VButton,
    Editor
  },
  data() {
    return {
      recived: Array(),
      current: null,
      editing: false,
      next: null,
      prev: null,
      count: 0
    }
  },
  methods: {
    getMeetings: function (page) {
      this.$fetch(page, {
        method: "GET",
      }).then((data) => {
        if(data.count) {
          this.recived = data.results;
          this.next = data.next;
          this.prev = data.previous;
          this.count = data.count;
        }
        else
          if(data.count!==0)
            alert(data.message);
      });
    },
    handleNewMeet: function(data) {
      this.editing = false;
      this.recived.unshift(data);
    },
    logout: function() {
      this.$fetch(this.$apiUrl + "authentication/logout/", {
        method: "POST"
      }).then(data => {
        if(data.success) {
          this.$store.commit("LOGIN_TOGGLE");
          this.$router.push('/');
        }
      });
    }
  },
  mounted() {
    this.getMeetings(this.$apiUrl + "restapi/meetings/?page=1")
  },
}
</script>
