<template>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(209, 213, 219);
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
</style>

<script>
export default {
  name: 'App',
  mounted() {
    this.$router.beforeEach((to, from, next) => {
      if (to.name !== 'Login' && !this.$store.state.loggedIn)
        next({ name: 'Login' })
      else if(to.name === 'Login' && this.$store.state.loggedIn)
        next({name: 'User'})
      else
        next()
    });
  }
}
</script>
